<div class="todo-container">
    <div class="todo-header">
        <h2>Welcome, {{user.username}}</h2>
        <p>Edit your todo below:</p>
    </div>
    <ul class="todo-list-item">
        {{#each todoTasks}}
            <li>
                {{#if (eq _id ../idTask)}}
                    <!-- Editing mode -->
                    <form class="todo-edit-form" action="/edit/{{_id}}" method="POST">
                        <input class="edit-input" type="text" value="{{content}}" name="content" required>
                        <a href="/" class="cancel">Cancel</a>
                        <button type="submit" class="save">Save</button>
                        <a href="/remove/{{_id}}" class="remove">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </form>
                {{else}}
                    <!-- Normal display -->
                    <div>
                        {{content}}
                    </div>
                    <a href="/edit/{{_id}}" class="edit-btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="/remove/{{_id}}" class="remove">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
